@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}
a.MuiTypography-root {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.MuiMasonry-root div:nth-child(3n) {
  margin-right: 0;
}
@media (min-width: 600px) {
  .MuiContainer-maxWidthLg {
    padding-left: 15px;
    padding-right: 15px;
  }
}
